/animais/nbproject/private/
/Batalha/nbproject/private/
/Batalha/build/
/Batalha/dist/
/Carros/nbproject/private/
/Carros/build/
/Carros/dist/
/TesteThread/nbproject/private/
/TesteThread/build/
/Steam/nbproject/private/
/Animal/nbproject/private/
/EquipamentoEletronico/nbproject/private/
/EquipamentoEletronico/build/